body {
	color: white;
	font:normal bold 14px tahoma;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#ombre-body{
display: none;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.7);
z-index: 1000;
cursor: default;
}

#pop-upspinner{
display: none;
position: fixed;
left: calc(50% - 100px);
top: 50%;
z-index: 2000;
cursor: default;
overflow: hidden;
}

#div-princ {
	margin: 20px auto;
	width: 1800px;
	height: 860px; 
	background-color:#171717;
	box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.5),0px 0px 0px 0px rgba(255, 255, 255, 0.5) inset;
	border-radius: 30px 30px 30px 30px ;
	position:relative
}


#div-mode_menu 
{
	position:absolute;
	left: 400px;
	top:560px;
	width: 380px;
}

#div-mode_menu > ul
{
	padding:0;
	width:380px;
}

#div-mode_menu > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#div-mode_menu > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

#div-TxPOwer 
{
	position:absolute;
	left: 400px;
	top:620px;
	width: 380px;
}

#div-TxPOwer > ul
{
	padding:0;
	width:380px;
}

#div-TxPOwer > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#div-TxPOwer > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

#div-AGCset
{
	position:absolute;
	left: 400px;
	top:660px;
	width: 380px;
}

#div-AGCset > ul
{
	padding:0;
	width:380px;
}

#div-AGCset > ul > li {
    display: inline-block;
	font:normal bold 11px tahoma;
    text-align:center;
}

#div-AGCset > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

#div-NBset
{
	position:absolute;
	left: 400px;
	top:700px;
	width: 380px;
}

#div-NBset > ul
{
	padding:0;
	width:380px;
}

#div-NBset > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#div-NBset > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

.button_mode{
	width:60px;
	height: 40px; 			
}

.button_pressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);	
}

.button_unpressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;		
}

.button_white{
    color: #e0e0e0;
    background: #a5cd4e;
}

.button_green {
    color: #7FFF00;
	text-shadow: 0 0 10px #6a6767, 0 0 20px #444, 0 0 30px #515151, 0 0 40px #FFFAFC, 0 0 70px #3AFF11, 0 0 80px #45FF11, 0 0 100px #4F4F4F, 0 0 150px #18FF11;
}

.button_red {
    color: #ff3a3a;
    background: #a5cd4e;
}
 
.button_blue {
    color: #176fff;
    background: #70c9e3;
}
 
#button_power
{
	position:absolute;
	left:100px;
	top:100px;
	width:100px;
	height:100px; 
}

#personalfrequency
{
	position:absolute;
	left: 800px;
	top:710px;
	height: 100px; 
	width:385px;
}

#personalfrequency > select
{
	width:385px;
}


#div-freq
{
	position:absolute;
	left: 800px;
	top:572px;
	height: 100px; 
	width:385px;
}

#div-freq > ul > li {
    display: inline-block;
	font:normal bold 20px tahoma;
    text-align:center;
	width:30px;
}

#freq_disp{
	border-radius: 5px 5px 5px 5px ;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	background-color: black;
	width:380px;
	padding-top:5px;
	padding-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	height: 30px; 
}

#freq_disp > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#freq_disp > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;  	
}

#freq_but{
	width:380px;
	margin:0;
	padding-left:5px;
}

#freq_but > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}

#freq_but > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;  	
	margin-top:5px;
	margin-bottom:5px;
}



#cansp{
	position:absolute;
	left:388px;
	top:100px;
	width:1024px; 
	height:256px; 
	float:center; 
	background-color:black;
	border-radius: 20px 20px 0px 0px ;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
	
}

#canwf{
	position:absolute;
	left:388px;
	top:356px;
	width:1024px; 
	height:192px; 
	background:#00007f;
	background-color:bleu;
	border-radius: 0px 0px 20px 20px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#canRXsmeter{
	position:absolute;
	left:1450px;
	top:100px;
	width:250px; 
	height:50px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#div-smeterdigitRX
{
	position:absolute;
	left:1450px;
	top:160px;
}

#canTXsmeter{
	position:absolute;
	left:1450px;
	top:190px;
	width:250px; 
	height:40px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#div-smeterdigitTX
{
	position:absolute;
	left:1450px;
	top:240px;
}

#div-smeterdigitTX > p {
	margin: 0px;
}

#TXPWR{
	 color: rgb(255,0,0);
}

#TXSWR{
	 color: rgb(0,255,0);
}

#TXALC{
	 color: rgb(0,0,255);
}

#TXMOD{
	 color: rgb(255,255,0);
}	

#canBFSPC{
	position:absolute;
	left:1450px;
	top:330px;
	width:250px; 
	height:100px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#canBFFFT{
	position:absolute;
	left:1450px;
	top:447px;
	width:250px; 
	height:100px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#div-latencymeter
{
	position:absolute;
	left:1680px;
	top:840px;
}

#record
{
	text-align:center;
	font:normal bold 110px tahoma;
	width:200px; 
	height:140px;
	position:absolute;
	left:30px;
	top:690px;
}

#record_opus
{
	text-align:center;
	width:200px; 
	height:140px;
	position:absolute;
	left:30px;
	top:805px;
}



#div-bandshortcut 
{
	position:absolute;
	left: 1200px;
	top:560px;
	width: 200px;
}

#div-bandshortcut > ul
{
	padding:0;
	width:200px;
}

#div-bandshortcut > ul > li {
    display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
}

#div-bandshortcut > ul > li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}


#volume_control
{
	width:200px; 
	height:140px;
	position:absolute;
	left:30px;
	top:206px;
}


div#Txmeters > div {
	width:200px; 
  	position:absolute;
	left: 30px;
	top:290px;
}

div#Txmeters div.label {
  display: inline-block;
}

div#Txmeters div.value {
  display: inline-block;
}

meter#instant {

color: #0f9d58;
}


#div-scoketscontrols 
{
	position:absolute;
	left: 1350px;
	top:825px;
	width: 280px;
}

#div-scoketscontrols > p
{
	display: inline-block;
	font:normal bold 14px tahoma;
    text-align:center;
	margin-right:10px;
}

#div-scoketscontrols > p > img
{
	margin-right:5px;
	width:10px; 
	height:10px;
}
